/* Header design*/

#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #6b8c89;
    padding: 10px 30px;
    position: sticky;
    top: 0;
}

.wrap-logo {
    display: flex;
    align-items: center;

}

/* Logo and buttons */

#header a {
    color: #ececec;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 4px;
}

#header a.logo {
    font-size: 25px;
    font-weight: bold;
}

#header a:hover {
    background-color: #c8f1df;
    color: #212121;
}

#header a.sign-button {
    background-color: #656565;
    color: #ececec;
}

#header a.sign-button:hover {
    background-color: #f19d47;
    color: #ececec;
}

/* Navigational panel */

#header-nav {
    display: flex;
    column-gap: 10px;
    align-items: center;
}